.footer__column_content_copyright {
    display: flex;
    flex-basis: 711px;
    flex-direction: column;
    align-content: space-between;
    margin: 0;
    justify-content: space-between;
    flex-wrap: wrap;
}